---
layout: page
title: People
css: general
---

<!-- default layout has a header here ... -->
<ul class="list-inline">
{% for person in site.data.people %}
<li>
	<a href="http://talk.olab.io/users/{{person.username}}/activity">
		<img src="{{person.avatar}}" alt="{{person.username}}" class="img-circle"/>
	</a>
</li>
{% endfor %}
</ul>


<h1 class="text-center">Friends</h1>
<ul class="list-inline">
{% for friend in site.data.friends %}
<li>
	<a href="{{friend.homepage}}">
		<img src="{{friend.avatar}}" alt="{{friend.name}}" class="img-rounded"/>
	</a>
</li>
{% endfor %}
</ul>
