<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="olcdIsdHh0CurlOyDNa7WXoThY0azDHUEOwC2phoe2c" />
    <link rel='shortcut icon' href='{{site.baseurl}}/assets/img/favicon.ico' type='image/x-icon'/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    {% if page.css %}
      <link rel="stylesheet" href="/assets/css/{{page.css}}.css" type="text/css"/>
    {% else %}
      <link rel="stylesheet" href="/assets/css/general.css" type="text/css"/>
    {% endif %}
  </head>
  <body>
