
<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/"><img src="/assets/img/olab-mark.gif" width="30px"></a> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if page.title == "openLab Projects" %}active{% endif %}"><a href="/projects">Projects</a></li>
              <li class="{% if page.title == "openLab Resources" %}active{% endif %}"><a href="/resources">Resources</a></li>
              <li class="{% if page.title == "openLab Events" %}active{% endif %}"><a href="/events">Events</a></li>
              <li class="{% if page.title == "openLab Members" %}active{% endif %}"><a href="/members">Members</a></li>
              <li class="{% if page.title == "Connect with openLab" %}active{% endif %}"><a href="/connect">Connect</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>