/*
*
* Custom styles for openLab
*
* #FF7500 // Primary \\\\ #FDD200 // Highlights
*/

html,
body {
	height:; 100%;
	background-color: #fff;
}

body {
  color: #FF7500;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding-top: 56px;
}

/* Splash img */
.img-responsive {
	text-align: center;
	display: inline;
}

/* Page */

.page-title {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Resource Page */

.the-resources {
	background-color: #FF7500;
}

.resource-extras {
	padding-top: 50px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #FF7500;
}

/* Navigation */

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #FDD200;
	border-color: #FDD200;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #FDD200;
}

.navbar-default .navbar-nav > li > a {
color: #FF7500;
}

.nav > li > a,
.nav > li > a:hover {
	padding-right: 60px;
}

.navbar .brand {
  background-color: #FDD200;
  text-align: center;
}

.navbar-collapse{
	border-top: none;
	box-shadow: none;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle .icon-bar {
	border-color: #FDD200;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	color: #fff;
	background-color: #FDD200;
}

.members {
	text-align: center;
}

/*
 * this
 */

@media (min-width: 768px) {
	.navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 992px) {
	.navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .col-md-offset-4 {
		margin-left: 39%;
	}
}